.song-card {
  cursor: pointer;
  text-align: center;
  color: #fff;
  margin: 0.5rem;
}

.song-img {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.song-title {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.song-artist {
  font-size: 0.8rem;
  color: #ccc;
  margin: 0;
}
