/* index.css */
/* Prevent horizontal scroll */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Optional: smooth scrolling */
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

h2 {
  margin-bottom: 10px;
  color: #1db954;
}

button {
  cursor: pointer;
  font-family: inherit;
}

input[type="range"] {
  appearance: none;
  background: linear-gradient(to right, #1db954 var(--value, 0%), #404040 var(--value, 0%));
  height: 4px;
  border-radius: 10px;
}
